html {
    font-size: 23px;
}

body{
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Palatino', 'Palatino Linotype', 'Book Antiqua', serif;
    max-width: 50rem;
    margin: 0 auto;
    color: #333;
    background-color: white;
}

video {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

p {
    margin: 0;
}

#title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

/*#paper-title {*/
/*    !*font-family: 'Lato', sans-serif;*!*/
/*    font-size: 1.8rem;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    margin-top: 1em;*/
/*    margin-bottom: 0.5em;*/
/*    color: #C69214; !* apply to headings *!*/
/*}*/

#paper-title {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #C69214; /* apply to headings */
}

.emphasis {
    /*font-family: 'Merriweather', serif;*/
    /*font-style: italic;*/
    /*font-weight: 700;*/
}

#authors{
    /*margin-top: 1.5em;*/
    /*margin-bottom: 0em;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.1em;
}

.author-row {
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.author {
    padding-right: 0.8vw;
    padding-left: 0.8vw;
    /*margin-right: 0.6em;*/
    font-weight: 600;
    color: #666;
    /*font-size: 1.0rem;*/
    text-decoration: none;
}

.ack-author {
    text-decoration: none;
}

.author:hover {
    text-decoration: underline;
}

#authors .author:last-child {
    margin-right: 0;
}

.author sup {
    /*font-size: small;*/
    /*font-size: 62.5%;*/
    font-weight: normal;
    color: #999;
}

/*#affiliations {*/
/*    margin-top: 1em;*/
/*    !*bottom: 10em;*!*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    gap: 0.1em;*/
/*    font-size: 0.9rem;*/
/*}*/

.affiliation-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*margin-bottom: 0.1em;*/
    /*gap: 0.3em;*/
}

.affiliation {
    margin-right: 0.6em;
    /*font-size: 1.2rem;*/
    color: #333;
}

/*#affiliations .affiliation:last-child {*/
/*    margin-right: 0;*/
/*}*/


/*#affiliations .affiliation:first-child {*/
/*    flex: 1 100%;*/
/*    text-align: center;*/
/*}*/

.affiliation sup {
    /*font-size: medium;*/
    font-weight: normal;
    color: #999;
}

#conference-name {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.4rem;
    /*font-size: medium;*/
    font-weight: bold;
    color: #333;
    /*color: #C69214;*/
    text-align: center;
}

#social-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.social-button {
    margin-right: 1.6em;
    /*font-size: 1rem;*/
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid #333;
    padding: 0.3em 1.8em;
    border-radius: 0.6em;
    cursor: pointer;
}

.social-button:hover {
    box-shadow: 0 0 0 0.1em #333;
}

.social-button:last-child {
    margin-right: 0;
}

.social-button i {
    margin-right: 0.4em;
}

#tldr-container {
    margin-top: 4em;
    text-align: center;
    font-style: italic;
}

#tldr-first {
    font-weight: bold;
}

#tldr-text {
    font-size: 1.15rem;
    text-align: center;
    font-style: italic;
}

#slogan-text {
    font-size:1.5rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
    color: #C69214;
}

.section-container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-container-left {
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.highlight-box {
    background-color: rgba(255, 205, 0, 0.5);  /* 30% opacity */
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1.5em 2em;
    margin-top: 1em;
    width: 100%;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

.highlight-box-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.section-header {
    margin-top: 1em;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #C69214;
}

.section-sub-header {
    font-size: 1.125rem;
    font-weight: bold;
    align-self: normal;
    margin-top: 2em;
}

.section-text {
    margin-top: 1em;
    margin-bottom: 1em;
}

.section-text a {
    color: #333;
}

.highlighted-text {
    color: #C69214;
    font-weight: bold;
}

.section-image {
    margin-top: 2em;
    max-width: 100%;
    margin-bottom: 1em;
}

.section-image:last-child {
    margin-bottom: 2em;
}

.section-gif-container {
    display: flex;
        gap: 40px; /* Try 40px, adjust as needed */
    justify-content: start;
    margin-bottom: 8px; /* optional: space below header row */
}

.section-gif {
    width: 9vw;
    margin-bottom: -1em;
}

.gif-text-morphology-class{
    /*font-size: 1.125rem;*/
    font-weight: bold;
    align-content: center;
    width: 9vw;
    text-align: center;
}

.section-gif-header-container {
    display: flex;
    gap: 40px; /* Try 40px, adjust as needed */
    justify-content: start;
    margin-bottom: 8px; /* optional: space below header row */
}

.section-gif-header {
    /*font-size: 1.125rem;*/
    font-weight: bold;
    width: 9vw;
    text-align: center;
    margin-bottom: 1em;
}

.section-video {
    margin-top: 1em;
    max-width: 100%;
}

.section-deployment-video-container {
    width: 100%;
}

.section-deployment-video-container-header {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
}

.section-deployment-video-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0em;
}

.section-deployment-video-container:last-child  {
    margin-top: 3em;
}

.deployment-video-header {
    /*font-size: 1.125rem;*/
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
}

.deployment-video {
    margin-top: 0.5em;
    max-width: 300px;
    border-radius: 0.6em;
}

.youtube-iframe {
    margin-top: 1em;
    width: 940.8px;
    height: 529.2px;
    border-radius: 0.6em;
}

/*.citation-container {*/
/*    font-size: 0.7rem;*/
/*    background-color: #f8f8f8;*/
/*    padding: 1em 1em 0.3em 1em;*/
/*    margin-top: 1em;*/
/*    max-height: 200px;*/
/*    max-width: fit-content;*/

/*    !*max-width: -webkit-fill-available;*!*/
/*    overflow: auto;*/
/*}*/

.citation-container {
    font-size: 0.7rem;
    background-color: #f8f8f8;
    padding: 1em 1em 0.3em 1em;
    margin-top: 1em;
    max-width: 50rem;       /* Responsive max-width */
    width: 100%;           /* Use full available space */
    overflow-x: auto;      /* Enable horizontal scroll if needed */
    border-radius: 8px;    /* Optional: make it polished */
    box-sizing: border-box;
}

.citation-container pre,
.citation-container code {
    margin: 0;
    padding: 0;
    white-space: pre;
    line-height: 1.5;
}

#website-inspiration {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 3em;
    font-size: 0.8125rem;
}

#website-inspiration a {
    color: #333;
}